name: "Auto update tailscale packages"
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

      is_update_geodata:
        description: 'is update geodata'
        required: false
        default: 'false'

      is_update_from_prerelease:
        description: 'is update from prerelease'
        required: false
        default: 'false'  
        
  schedule:
    - cron: "0 */4 * * *"
env:
  TZ: Asia/Shanghai


jobs:
  job_init:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main


      - name: Initialization environment
        run: |
          sudo timedatectl set-timezone "$TZ"


      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 1
          keep_minimum_runs: 0
          delete_workflow_pattern: 'Auto update tailscale packages'
        
      - name: SSH connection to Actions
        uses: mxschmitt/action-tmate@v3.13
        if: (github.event.inputs.ssh == 'true' && github.event.inputs.ssh  != 'false') || contains(github.event.action, 'ssh')

  job_auto_update_packages:
    if: ${{ always() }}
    needs: job_init
    runs-on: ubuntu-latest
    name: Auto-update-${{ matrix.pakcages }} 
    strategy:
      fail-fast: false
      matrix:
        pakcages: [tailscale]
        include:
          - pakcages: tailscale
            folder: tailscale
            version_head: PKG_VERSION:=
            hash_head: PKG_HASH:=
            version_line:
            hash_line:
            release_api_command: curl -sL "https://api.github.com/repos/tailscale/tailscale/releases" | jq -r 'map(select(.prerelease|not)) | first | .tag_name' | sed -e 's/.*v//'
            prerelease_api_command: curl -sL "https://api.github.com/repos/tailscale/tailscale/releases" | jq -r 'first | .tag_name' | sed -e 's/.*v//'
            release_download_url: https://codeload.github.com/tailscale/tailscale/tar.gz/v
            file_name:

    steps:
      - name: Checkout
        uses: actions/checkout@main


      - name: Initialization environment
        run: |
          cd && mkdir -p packages && cd packages
          sudo timedatectl set-timezone "$TZ"

      - name: Check ${{ matrix.pakcages }}
        id: check
        run: |
          is_continue=true
          
          if [ "$is_continue" = "true" ]; then
            cd && cd $GITHUB_WORKSPACE/${{ matrix.folder }}
            if [ ! -n "${{ matrix.version_line }}" ] ; then
              Old_PKG_VERSION=$(sed -n '/^${{ matrix.version_head }}/p' Makefile | awk -F '=' '{print $2}');
            else
              Old_PKG_VERSION=$(sed -n '${{ matrix.version_line }}p' Makefile | awk -F '=' '{print $2}');
            fi
            if [ "${{ github.event.inputs.is_update_from_prerelease }}" = "true" ]; then
              New_PKG_VERSION=$(${{ matrix.prerelease_api_command }})
            else
              New_PKG_VERSION=$(${{ matrix.release_api_command }})
            fi
            echo "${{ matrix.pakcages }}目前版本: $Old_PKG_VERSION"
            echo "${{ matrix.pakcages }}latest release版本: $New_PKG_VERSION"

            result=0

            ver1="$Old_PKG_VERSION"
            ver2="$New_PKG_VERSION"

            # 使用 sort -V 进行版本号比较
            if [[ "$(printf "%s\n%s" "$ver1" "$ver2" | sort -V | head -n 1)" == "$ver1" && "$ver1" != "$ver2" ]]; then
              result=1
            elif [[ "$ver1" == "$ver2" ]]; then
              result=0
            else
              result=2
            fi

            echo "版本对比结果：$result"

            if [[ $result -eq 0 ]]; then
              echo "status=failure" >> $GITHUB_OUTPUT
              echo "${{ matrix.pakcages }}版本为最新版本$New_PKG_VERSION, 无需更新"
            elif [[ $result -eq 1 ]]; then
              echo "New_PKG_VERSION=$New_PKG_VERSION" >> $GITHUB_OUTPUT
              echo "status=success" >> $GITHUB_OUTPUT
            else
              echo "status=failure" >> $GITHUB_OUTPUT
              echo "检测到本地版本高于最新latest release版本，停止更新"
            fi
          else
            echo "status=failure" >> $GITHUB_OUTPUT
          fi



      - name: Update ${{ matrix.pakcages }}
        id: update
        if: steps.check.outputs.status == 'success' && steps.check.outputs.New_PKG_VERSION != '' && !cancelled()
        run: |
          cd && cd $GITHUB_WORKSPACE/${{ matrix.folder }}
          New_PKG_VERSION=${{ steps.check.outputs.New_PKG_VERSION }}
          if [ ! -n "${{ matrix.version_line }}" ] ; then
            sed -i "/^${{ matrix.version_head }}/c\${{ matrix.version_head }}$New_PKG_VERSION" Makefile;
          else
            sed -i "${{ matrix.version_line }}c ${{ matrix.version_head }}$New_PKG_VERSION" Makefile;
          fi
          cd && cd packages && mkdir -p ${{ matrix.pakcages }} && cd ${{ matrix.pakcages }}
          wget -P / ${{ matrix.release_download_url }}$New_PKG_VERSION${{ matrix.file_name }}
          file_name=${{ matrix.file_name }}

          is_v=$(echo ${{ matrix.release_download_url }} | awk -F/ '{print $NF}')

          if [ ! -n "${{ matrix.file_name }}" ]; then PKG_HASH=$(sha256sum $is_v$New_PKG_VERSION) && PKG_HASH=${PKG_HASH%% *}; else PKG_HASH=$(sha256sum ${file_name##*/}) && PKG_HASH=${PKG_HASH%% *}; fi;
          cd && cd $GITHUB_WORKSPACE/${{ matrix.folder }} 
          if [ ! -n "${{ matrix.hash_line }}" ] ; then
            sed -i "/^${{ matrix.hash_head }}/c\${{ matrix.hash_head }}$PKG_HASH" Makefile;
          else
            sed -i "${{ matrix.hash_line }}c ${{ matrix.hash_head }}$PKG_HASH" Makefile;
          fi
          echo "已更新${{ matrix.pakcages }}版本到: $New_PKG_VERSION"
          echo "${{ matrix.pakcages }} Hash:$PKG_HASH"
          cd && cd packages
          echo ":white_check_mark: ${{ matrix.pakcages }}: update to $New_PKG_VERSION" >> commit_messages.txt
          echo "version=$New_PKG_VERSION" >> $GITHUB_OUTPUT

          cd && cd $GITHUB_WORKSPACE
          echo "branch_exists=$(git ls-remote --heads origin patches-${{ matrix.pakcages }}-$New_PKG_VERSION | tr -d '\n')" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        id: cpr
        if: steps.check.outputs.status == 'success' && steps.check.outputs.New_PKG_VERSION != '' && steps.update.outputs.branch_exists == '' && !cancelled()
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "${{ matrix.pakcages }}: update to ${{ steps.update.outputs.version }}"
          committer: Jaykwok2999 <194788255+Jaykwok2999@users.noreply.github.com>
          author: Jaykwok2999 <194788255+Jaykwok2999@users.noreply.github.com>
          signoff: false
          branch: patches-${{ matrix.pakcages }}-${{ steps.update.outputs.version }}
          base: main
          delete-branch: true
          body: |
            ${{ matrix.pakcages }}: update to ${{ steps.update.outputs.version }}
          title: "${{ matrix.pakcages }}: update to ${{ steps.update.outputs.version }}"
          labels: |
            automated-pr
          draft: false
